main {
    background-color: firebrick;
}

li {
    background-color: cornflowerblue;
    list-style: none;
    font-size: 2rem;
    font-weight: 500;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
}

.fizz {
    background-color: sandybrown;
}

.buzz {
    background-color: palegreen;
}

.fizzbuzz {
    background-color: violet;
}